// -------------------------------------
// Padding, stop it.
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
i { font-size: 20px; display: block; }
// -------------------------------------
// Base tags
$headerTop: 90px;
$navtop: 145px;
$footerTop: 30px;
$sectionWidth: 280px;
$asideWidth: 280px;
$contentLeftPadding: 279px;

html, body
{
    font-family: $htmlFontFamily;
    font-size: $htmlFontSize;
    color: $htmlColor;
    background-color: $htmlBackgroundColor;
    margin: 0;
    padding: 0;

}
header, nav, main, aside, section, footer 
{
    position: absolute;
    left: 0; right: 0;
}
header
{
    background-color: $htmlBackgroundColor;
    height: $headerTop;
    top: 0;
    z-index: 2;
    padding: 20px 0 0 $contentLeftPadding;
}
nav
{
    top: $headerTop;
    z-index: 3;
    padding: 0 0 0 $contentLeftPadding;

    border-bottom:solid 1px #ccc;
    box-shadow: 0 2px 0 #eee;

    .box 
    {
        float: left;
        margin: 0 30px 0 0;

        h3
        {
            font-weight: normal;
            font-size: 11px;
            text-transform: uppercase;
            letter-spacing: 1px;
            margin: 0 0 5px 0;
            color: #aaa;
        }

        span, a
        {
            @include transition(.2s);

            padding: 10px 14px;
            display: inline-block;
            margin: 0 -4px -1px 0;
            font-weight: 500;
            font-size: 13px;

            border:solid 1px #ccc;
            box-shadow: 0 2px 0 #eee;

            &.green
            {
                color: $googleGreen500;
            }

            &.orange
            {
                color: $googleOrange500;
            }
 
            &.gray
            {
                color: $googleGray600;
            }

            &:hover
            {
                position: relative;
                z-index: 1;
                cursor: pointer;
                color: $googleBlue500;
                box-shadow: 0 2px 0 $googleBlue500;
                border:solid 1px $googleBlue500;

                &.green
                {
                    color: $googleGreen500;
                    box-shadow: 0 2px 0 $googleGreen500;
                    border:solid 1px $googleGreen500;
                }

                &.orange
                {
                    color: $googleOrange500;
                    box-shadow: 0 2px 0 $googleOrange500;
                    border:solid 1px $googleOrange500;
                }
            }
        }
    }
}
main
{
    top: $navtop; bottom: $footerTop; left: $asideWidth; right: $sectionWidth;
    z-index: 1;
}
aside, section
{
    z-index: 1;
    //color: $htmlColorLight;
    margin: -2px 0 -1px 0;
    padding: 25px;
}
aside
{
    top: $navtop; right: 0; bottom: $footerTop; left: auto;
    width: $asideWidth;
}
section
{
    top: $navtop; left: 0; bottom: $footerTop;
    width: $sectionWidth;
}
footer
{
    bottom: 0;
    z-index: 2;
    background-color: #eee;
    border-top:solid 1px #aaa;
    box-shadow: 0 0 2px #ccc;
    font-size: 11px;
    padding: 8px 0 0 10px;
    height: $footerTop;
}
p
{
    margin: 20px 0;
    font-size: 13px;
    line-height: 18px;
}
h1
{
    font-size: 18px;
    margin-bottom:10px;

    i
    {
        color: #888;
        margin: 0 10px 0 0;
    }
}
h2
{
    color: #888;
    font-weight: 400;
    font-size: 13px;
}
h3
{
    color: #333;
    font-weight: 300;
    font-size: 42px;
    margin: 0 0 20px 0;
}
h4
{
    font-size: 18px;
    font-weight: 400;
    color: $googleOrange500;
    margin-bottom: 20px;
}
// -------------------------------------
// Custom tags
a
{
    color: $googleBlue500;
}
a, .ajax
{
    &:hover
    {
        color: $googleBlue500;
    }
}
.page
{
    padding: 50px 0;

    ul
    {
        padding-left:20px;

        li
        {
            padding: 8px 0;

            &:first-child
            {
                padding-top: 0;
            }

            &:last-child
            {
                padding-bottom: 0;
            }
        }
    }
}
.space
{
    display: block;
    background-color: #ccc;
    height: 1px;
    margin: 25px 0;
}
.container
{
    @include cf();
}
// -------------------------------------
// Jquery Tooltips
.ui-tooltip 
{
    background: #111;
    font-size: 12px;
    padding: 8px 12px;
    border-radius: 2px;
    color: #fff;
    min-width: 80px;
    text-align: center;
    border:none;
    box-shadow: none;
}