// General variables
$htmlBackgroundColor: #fff;
$htmlColor: #333;
$htmlColorLight: #fff;
$htmlFontFamily: 'Roboto';
$htmlFontSize: 14px;

// Import what we need
@import 'helpers/_googleColors.scss';
@import 'helpers/_breakpoints.scss';
@import 'helpers/_classes.scss';
@import 'helpers/_reset.scss';
@import 'helpers/_forms.scss';

// Plugins
@import '../../web/plugins/jqueryui/jqueryui.scss';

// Base
@import 'base.scss';

// Modules
@import 'modules/generate.scss';