nav
{
    .menu
    {
        margin-top: 3px;
        font-size: 13px;
        display: inline-block;

        span
        {
            @include transition(.1s);
            border: solid 1px #ddd;
            display: inline-block;
            padding: 5px 8px;
            margin: 0 -1px 0 0;
            cursor: pointer;

            &:first-child
            {
                border-radius: 3px 0 0 3px;
            }

            &:last-child
            {
                border-right: solid 1px #ddd;
                border-radius: 0 3px 3px 0;
            }

            &.active,
            &:hover
            {
                color: #fff;
                text-shadow: 0 1px 2px rgba(0,0,0,0.2);
                position: relative;
                z-index: 2;
            }

            &.active
            {
                background-color: $blue;
                border: solid 1px $blue;
            }

            &:hover
            {
                background-color: $green;
                border: solid 1px $green;
            }
        }
    }
}

footer
{
    text-align: center;
    color: #555;
    background-color: #eee;
    border-radius: 2px;
    font-size: 12px;

    span
    {
        padding: 8px 10px;
        display: inline-block;
        border-right: solid 2px #fff;

        &:last-child
        {
            border: none;
        }
    }
}