<div class="cf mt20">

    <header class="box16 pt5">
        <img src="img/logo.png" height="36">
    </header>

    <nav class="box84 cf">

        <div class="box50">
            <div class="fs12 bold">Signatures</div>
            <div class="menu">
                <span id="1" class="active">Latest</span><span id="2">Top Rated</span><span id="3">Top In Use</span><span id="4">Best Designer</span>
            </div>
        </div>

        <div class="box25">
            <div class="fs12 bold">Templates</div>
            <div class="menu">
                <span id="5">Create</span><span id="6">Load</span>
            </div>
        </div>

        <div class="box25">
            <div class="fs12 bold">Misc</div>
            <div class="menu">
                <span id="7">About</span><span id="8">Development</span>
            </div>
        </div>

    </nav>

</div>