<div id="editor-character" class="hide modal">
    <h2 class="mb10">Set your character</h2>
    <p class="mb20 fs13 lh18">
        Enter a characters <strong>name</strong> and <strong>server</strong> (or <strong>Lodestone ID</strong>) to set the active character for the editor.
        This can be changed at any and does not overwrite any verified active templates or signatures. It is purely for display.</p>
    <form>
        <input name="xivsync-name" id="xivsync-name" type="text" placeholder="Name">
        <select name="xivsync-server" id="xivsync-server">
            <option value="Adamantoise">Adamantoise</option>
            <option value="Aegis">Aegis</option>
            <option value="Alexander">Alexander</option>
            <option value="Anima">Anima</option>
            <option value="Asura">Asura</option>
            <option value="Atomos">Atomos</option>
            <option value="Bahamut">Bahamut</option>
            <option value="Balmung">Balmung</option>
            <option value="Behemoth">Behemoth</option>
            <option value="Belias">Belias</option>
            <option value="Brynhildr">Brynhildr</option>
            <option value="Cactuar">Cactuar</option>
            <option value="Carbuncle">Carbuncle</option>
            <option value="Cerberus">Cerberus</option>
            <option value="Chocobo">Chocobo</option>
            <option value="Coeurl">Coeurl</option>
            <option value="Diabolos">Diabolos</option>
            <option value="Durandal">Durandal</option>
            <option value="Excalibur">Excalibur</option>
            <option value="Exodus">Exodus</option>
            <option value="Faerie">Faerie</option>
            <option value="Famfrit">Famfrit</option>
            <option value="Fenrir">Fenrir</option>
            <option value="Garuda">Garuda</option>
            <option value="Gilgamesh">Gilgamesh</option>
            <option value="Goblin">Goblin</option>
            <option value="Gungnir">Gungnir</option>
            <option value="Hades">Hades</option>
            <option value="Hyperion">Hyperion</option>
            <option value="Ifrit">Ifrit</option>
            <option value="Ixion">Ixion</option>
            <option value="Jenova">Jenova</option>
            <option value="Kujata">Kujata</option>
            <option value="Lamia">Lamia</option>
            <option value="Leviathan">Leviathan</option>
            <option value="Lich">Lich</option>
            <option value="Malboro">Malboro</option>
            <option value="Mandragora">Mandragora</option>
            <option value="Masamune">Masamune</option>
            <option value="Mateus">Mateus</option>
            <option value="Midgardsormr">Midgardsormr</option>
            <option value="Moogle">Moogle</option>
            <option value="Odin">Odin</option>
            <option value="Pandaemonium">Pandaemonium</option>
            <option value="Phoenix">Phoenix</option>
            <option value="Ragnarok">Ragnarok</option>
            <option value="Ramuh">Ramuh</option>
            <option value="Ridill">Ridill</option>
            <option value="Sargatanas">Sargatanas</option>
            <option value="Shinryu">Shinryu</option>
            <option value="Shiva">Shiva</option>
            <option value="Siren">Siren</option>
            <option value="Tiamat">Tiamat</option>
            <option value="Titan">Titan</option>
            <option value="Tonberry">Tonberry</option>
            <option value="Typhon">Typhon</option>
            <option value="Ultima">Ultima</option>
            <option value="Ultros">Ultros</option>
            <option value="Unicorn">Unicorn</option>
            <option value="Valefor">Valefor</option>
            <option value="Yojimbo">Yojimbo</option>
            <option value="Zalera">Zalera</option>
            <option value="Zeromus">Zeromus</option>
            <option value="Zodiark">Zodiark</option>
        </select>
        <button type="button" id="xivsync-go" class="green ml10">Search</button>
    </form>

    <div id="xivsync-result" class="mt10 cf hide"></div>
</div>

<script id="xivsync-return" type="text/x-mustache-template">
<div class="cf mt10">
    <div class="box20">
        <img src="{{ avatar }}" width="64" class="circle">
    </div>
    <div class="box80">
        <h3 class="blue">{{ name }}</h2>
        <em class="fs15">{{ world }}</em>
        <p class="mt10">The character was found and has been set as your active character for the editor.</p>
    </div>
</div>
</script>