<!doctype html>
<html class="xivpads">
    <head>

    <!-- Default stuff -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, maximum-scale=1">
    <title>{{ title }}</title>

    <!-- CDN -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900,500italic,500,700italic' rel='stylesheet' type='text/css'>
    <link href='http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.js"></script>

    <!-- Dynamic -->
    {{ meta }}
    {{ css }}
    {{ js }}

    </head>
    <body>

        <header><h1><i class="fa fa-cube"></i>{{ title }}</h1><h2>{{ author }}</h2></header>
        <nav>
            
            <div class="box">
                <h3>Signatures</h3>
                <span class="ajax" data-page="signatures/view/all">View All</span>
                <span class="ajax" data-page="signatures/view/highest">Highest Used</span>
                <span class="ajax" data-page="signatures/view/liked">Most Liked</span>
            </div>
            <div class="box">
                <h3>Templating</h3>
                <span class="ajax green" data-page="generate/create">Create</span>
                <span class="ajax green" data-page="generate/load">Load</span>
                <span class="ajax green" data-page="generate/profile">Profile</span>
                <span class="ajax green" data-page="generate/account">Account</span>
            </div>
            <div class="box">
                <h3>Menu</h3>
                <span class="ajax orange" data-page="site/latest">Latest</span>
                <span class="ajax orange" data-page="site/about">About</span>
            </div>
            <div class="box">
                <h3>Community</h3>
                <a class="gray" target="_blank" href="http://xivpads.com">XIVPads</a>
                <a class="gray" target="_blank" href="http://xivdb.com">XIVDB</a>
                <a class="gray" target="_blank" href="http://xivsync.com">XIVSync</a>
            </div>
        </nav>
        <main></main>
        <aside></aside>
        <section></section>
        <footer>{{ copyright }}</footer>

    </body>
</html>