<div class="generate page">

    <h3>Create a new template</h3>
    <p>
        <strong>A template is the blue print for a signature</strong>, you can place down a background and then decide what information should be shown, 
        where to show it, how to show it. You can personalize your design with extra assets, fonts, colors. Once you are happy with your template
        you can use it right away, share it with friends or publish it to the site for all to use! No restrictions!
    </p>

    <span class="space"></span>

    <form>
        <h4>Setup</h4>
        <div class="container">
            <fieldset>
                <label>Template File Name <span>max: {{ maxInputSize }}, unique</span></label>
                <input type="text" placeholder="..." class="maxSize" maxlength="{{ maxInputSize }}">
            </fieldset>
            <fieldset>
                <label>Sub Name (Optional) <span>max: {{ maxInputSize }}</span></label>
                <input type="text" placeholder="..." class="maxSize" maxlength="{{ maxInputSize }}">
            </fieldset>
        </div>
        <div class="buttons">
            <p>Additional information about your template can be added later, including categories, descriptions and any <em>restrictions</em> you desire.</p>
            <input type="button" value="Create New Template" class="green">
        </div>
    </form>

    <span class="space"></span>
    <h4>Rules ...</h4>
    <ul>
        <li>Do not make profanity templates/signatures</li>
        <li>All NSFW templates <strong>MUST BE TAGGED AS SUCH</strong>, it will be deleted if not tagged.</li>
        <li>Non signature based templates, such as banners and screenshots must be catagorized as such! Or at least tagged</li>
        <li>Do not steal other peoples templates, have the courtesy to contact them</li>
    </ul>

</div>

<div class="canvas" style="display:none;">


</div>